@model Hostel_System.Model.SearchingParse
@{
    ViewBag.Title = "Manager Tools";
    Layout = "_Layout";
}

<h2>Manager Tools</h2>
<form>
    <p>Enter searching parse here:</p>
    <input asp-for="SearchParse" type="text" class="form-control" id="searchingPars" aria-describedby="search" placeholder="Search Parse!">
    <table class="table">
        <thead>
        <tr>
            <th style="color: #009929;">
                Reservation 
            </th>
            <th style="color: #004a99;">
                Rooms
            </th>
            <th style="color: #006fe6;">
                Users
            </th>
        </tr>
        </thead>
        <tbody style="font-size:larger;">

        <tr>
            <td>
                <button type="submit"  class="btn btn-outline-success" asp-controller="Reservation" asp-action="AllReservations" >All Reservations</button>
            </td>
            <td>
                <button type="submit"  class="btn btn-outline-info" asp-controller="Room" asp-action="Index" asp-route-page="0" > All Rooms</button>
            </td>
            <td>
                <button type="submit"  class="btn btn-outline-primary" asp-controller="User" asp-action="AllUsers" >All Users!</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit"  class="btn btn-outline-success" asp-controller="Reservation" asp-action="ReservationsForRoom" >Reservation for room</button>
            </td>
            <td>
                <button type="submit"  class="btn btn-outline-info" asp-controller="Room" asp-action="RoomName" > Room by room name</button>
            </td>
            <td>
                <button type="submit"  class="btn btn-outline-primary" asp-controller="User" asp-action="GetUserByName" >User by Name</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit"  class="btn btn-outline-success" asp-controller="Reservation" asp-action="ReservationsForDate" >Reservation for Date</button>
            </td>
            <td>
                @if(User.IsInRole("Admin"))
                {
                    <button type="submit"  class="btn btn-outline-info" asp-controller="Room" asp-action="AddRoom" >Add Room</button>
                }
            </td>
            <td>
                <button type="submit"  class="btn btn-outline-primary" asp-controller="User" asp-action="GetUserByPhone" >User by Phone</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-outline-success" asp-controller="Reservation" asp-action="ReservationsForStatus" >Reservation for Status</button>
            </td>
            <td>
                
            </td>
            <td>
                <button type="submit"  class="btn btn-outline-primary" asp-controller="User" asp-action="GetUserByEmail" >User by Email</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit"  class="btn btn-outline-success" asp-controller="User" asp-action="GetUserByEmail" >Reservation for User Email</button>
            </td>
            <td>
                
            </td>
            <td>
                <button type="submit"  class="btn btn-outline-primary" asp-controller="User" asp-action="CreateUser" >Create User without password</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-outline-success" asp-controller="Reservation" asp-action="ReservationsForUserName" >Reservation for User Name</button>
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-outline-success" asp-controller="Reservation" asp-action="ReservationsForUserEmail" >Reservation for User Email</button>
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-outline-success" asp-controller="Reservation" asp-action="BookToGuest" >Add Reservation for User</button>
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>

        </tbody>
    </table>
</form>