@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hostel System</h1>
    <p>Book your room right now! <a asp-controller="Reservation" asp-action="Home">Click Here</a></p>
</div>
